<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.EmpExprMapper">

    <!--    foreach 标签:
                collection:遍历的集合
                item:遍历出来的元素
                separator:每次循环之间的分隔符
     -->
    <insert id="insertBatch">
        insert into emp_expr(emp_id, begin, end, company, job)values
        <foreach collection="exprList" item="expr" separator=",">
            (#{expr.empId},#{expr.begin},#{expr.end},#{expr.company},#{expr.job})
        </foreach>

    </insert>
</mapper>