<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.EmpMapper">


    <!--    <select id="list" resultType="com.itheima.pojo.Emp">-->
<!--        select e.*,d.name deptName from emp e left join dept d on e.dept_id=d.id-->
<!--        where e.name like concat('%',#{name},'%') and e.gender=#{gender} and entry_date between #{begin} and #{end}-->
<!--        order by e.update_time desc-->
<!--    </select>-->

<!--    条件查询-->
    <select id="list" resultType="com.itheima.pojo.Emp">
        select e.*,d.name deptName from emp e left join dept d on e.dept_id=d.id
        <where>
            <if test="name != null and name != ''">
                and e.name like concat('%',#{name},'%')
            </if>
            <if test="gender != null">
                and e.gender=#{gender}
            </if>
            <if test="begin != null and end != null">
                and entry_date between #{begin} and #{end}
            </if>
        </where>
        order by e.update_time desc
    </select>

<!--    新增员工-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into emp(username, name, gender, phone, job, salary, image, entry_date, dept_id, create_time, update_time)
        values (#{username},#{name},#{gender},#{phone},#{job},#{salary},#{image},#{entryDate},#{deptId},#{createTime},#{updateTime})
    </insert>

<!--    根据id批量删除员工信息-->
    <delete id="deleteByIds">
        delete from emp where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

<!--定义ResultMap-->
    <resultMap id="empResultMap" type="com.itheima.pojo.Emp">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="phone" column="phone"/>
        <result property="job" column="job"/>
        <result property="salary" column="salary"/>
        <result property="image" column="image"/>
        <result property="entryDate" column="entry_date"/>
        <result property="deptId" column="dept_id"/>
        <result property="deptName" column="deptName"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <collection property="exprList" ofType="com.itheima.pojo.EmpExpr">
            <id property="id" column="ee_id"/>
            <result property="empId" column="ee_empid"/>
            <result property="begin" column="ee_begin"/>
            <result property="end" column="ee_end"/>
            <result property="company" column="ee_company"/>
            <result property="job" column="ee_job"/>
        </collection>
    </resultMap>
<!--    根据id查询员工信息-->
    <select id="getById" resultMap="empResultMap">
        select e.*,
               ee.id ee_id,
               ee.emp_id ee_empid,
               ee.begin ee_begin,
               ee.end ee_end,
               ee.company ee_company,
               ee.job ee_job
        from emp e left join emp_expr ee on e.id=ee.emp_id where e.id=#{empId}
    </select>

    <!--根据id更新员工信息-->
    <update id="updateById">
                update emp
                <set>
                    <if test="username != null and username!='' ">username=#{username},</if>
                    <if test="password != null and password!='' ">password =#{password},</if>
                    <if test="name != null and name!='' ">name=#{name},</if>
                    <if test="gender != null">gender=#{gender},</if>
                    <if test="phone != null and phone!='' ">phone=#{phone},</if>
                    <if test="job != null">job=#{job},</if>
                    <if test="salary != null">salary=#{salary},</if>
                    <if test="image != null and image!='' ">image=#{image},</if>
                    <if test="entryDate != null">entry_date=#{entryDate},</if>
                    <if test="deptId != null">dept_id=#{deptId},</if>
                    <if test="updateTime != null">update_time=#{updateTime},</if>
                </set>
                where id=#{id}
    </update>

<!--    统计员工职位人数-->
    <select id="countEmpJobData" resultType="java.util.Map">
        select (case job when 1 then '班主任'
                         when 2 then '讲师'
                         when 3 then '学工主管'
                         when 4 then '教研主管'
                         when 5 then '咨询师'
                         when 6 then '财务部'
                         else '其他' end) pos,
               count(*) num from emp group by job order by num
    </select>

    <select id="countEmpGenderData" resultType="java.util.Map">
        select if(gender=1,'男性员工','女性员工') name ,count(*) value from emp group by gender;
    </select>


</mapper>